@import './header.css';

.contactbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 100px;
    margin-left: 50px;

}

.e-mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.insta{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.watsapp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}



/* RESPONSIVIDADE */
@media only screen and (max-width: 820px){
    .contactbox{
        margin-left: 0px;
    }   


}

@media only screen and (max-width: 750px){
    .contactbox{
        flex-direction: column;
        margin-top: 50px;
        margin-left: 0px;
        margin-bottom: 50px;
    }

}