---
import "../css/confirmation.css";
import { ViewTransitions } from "astro:transitions";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,700;1,100;1,200;1,400;1,700&display=swap" rel="stylesheet">
<ViewTransitions/>
    <title>confirmed order</title>
</head>
<body>
    <main class="confirmationpage">
        <div class="logoconfirmation">
            <a href="index.html"><img src="/logodrihy.jpg" alt="" width="200px" height="100px"></a>
        </div>
        <div class="coluna1">
            <div class="correctdiv">
                <img src="/correcticon.png" alt="" width="35px" height="30px">    
            </div>
            <div class="received">
                <h3>RECEBEMOS  O SEU PEDIDO</h3>  
            </div>
            <div class="pedidonumber">
                <h3>NÚMERO DO PEDIDO <br>#000000</h3>
            </div>
        </div> 
        <div class="progress">
            <h3>VOCÊ PODE ACOMPANHAR O PROGRESSO DO <br> SEU PEDIDO EM <a href="#">MINHA CONTA</a></h3>
        </div>
        <div class="agradecimento">
            <h3>AGRADECEMOS PELA SUA <br> CONFIANÇA. ESPERAMOS QUE <br> CURTA E APROVEITE SUA COMPRA <br> DA MELHOR FORMA</h3>
        </div>
        <div class="resume">
            <h3>RESUMO DO SEU PEDIDO</h3>
        </div>
        <div class="pedid">
            <h5>SEU PEDIDO</h5> <h5>PAGAMENTO</h5>
        </div>
            <div class="camisarosaconfirmation">
                <img src="/moletom1.png" alt="" width="100px" height="100px"> <h5 class="drihyinformation">MOLETOM DRIHY<br>COR:PRETO<br>TAMANHO:G</h5>
                <img class="pixzinho" src="/pixiconfundobranco.png" alt="" width="60px" height="50px"><h5 class="pricefinal">R$ 200,00</h5>
            </div> 
        </div>
    </main> 
</body>
</html>