---
import "../css/contact.css";
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,700;1,100;1,200;1,400;1,700&display=swap" rel="stylesheet">
<ViewTransitions/>
    <title>contact</title>
</head>
<body>
  <Header/>
    <main class="contactbox">
        <div class="e-mail">
            <img src="/envelope-solid.svg" alt="#" width="50px" height="50px">
            <h2>E-mail</h2>
            <h3><a href="mailto:drihymode@gmail.com">drihymode@gmail.com</a></h3>
        </div>
    </main>
</body>
</html>