---

---

<header>
  <div class="navegation">
      <a href="#"></a>
      <a href="#"></a>
      <a class="logo" href="index.html"><img src="/logodrihy.jpg" alt="" width="200px" height="100px"></a>
      <ul class="nav-list">
          <li>
              <a href="shop.html">shop</a>
          </li>
          <li>
              <a href="contact.html">contact</a>
          </li>
          <li>
              <a href="login.html">login</a>
          </li>
          <li>
              <a href="cart.html">cart</a>
          </li>
      </ul>
      <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
      </div>
  </div>
  <script src="../js/mobile-navbar.js"></script>
</header>